html {
    font-size: 62.5%;
    /* 62.5% = 10px  10px 1rem*/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.6rem;
}

h5 {
    font-size: 2.4rem;
}

.contenedor {
    max-width: 100rem;
    /* 1000px;*/
    margin: 0 auto;
    /*    margin-left: auto;
    margin-right: auto;
    margin-top:0px */
}


/***** paso 1 */

.site-header.inicio {
    position: relative;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.site-header.inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Color negro con 50% de opacidad */
    z-index: 1; /* Asegura que esté sobre la imagen */
}

.site-header.inicio > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté sobre la capa oscura */
}

/* Logotipo vs slogan*/

.contenido-header {
    height: 100%;
    display: flex;
    /*Habilitamos FlexBox*/
    flex-direction: column;
    /* Definimos la direccion por efault es ROW*/
    justify-content: space-between;
    /* Acomodamos el contenido*/
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    /* para limitra el tamaño de contenido de texto (corte de texto)*/
    line-height: 2;
    /* sirve para interliando 1, 2, o 1.80*/
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: 500px;  /*No recomendado*/
    padding-top: 2rem;
    /* rem*/
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2rem;
}

.navegacion a:last-of-type {
    /*seudoselector*/
    margin: 0;
}

.navegacion a:hover {
    color: #ff0000;
}